@model List<MobilyaShowRoom.Models.Product>
@{
    Layout = "_Layout";
    ViewBag.Title = "Product";
}

@*<table class="table table-dark w-50 mx-auto">
        <thead>
            <tr>
                <th>#</th>

                <th>Product Name</th>
                <th>İşlem</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ID</td>
                    <td>@product.ProductName</td>
                    <td><a href="product/getproductdetail/@product.ID">Detay</a></td>

                </tr>

            }
        </tbody>
    </table>*@
<div class="d-flex row " style="background-image: url(https://picsum.photos/id/130/1500/1500)">
    @foreach (var product in Model)
    {
    <div class="col-6 justify-content-around d-flex">
        <div class="card mb-3" style="max-width: 540px; ">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@product.Resim" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">@product.ProductName</h3>
                        <h5 class="card-title">@product.ProductDetail</h5>

                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p style="border:1px solid blue; width:auto; font-weight:bold;  text-align:center; color:deeppink" ;>@product.Price ₺</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="@Url.ActionLink("index","Home")" class="btn btn-primary">Home</a>
                        <a href="product/getproductdetail/@product.ID" class="btn btn-primary">Detay</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>