@model Kitaplar
@{
    ViewData["Title"] = "Details";
}

<p>@Model.Ad</p>
<p>@Model.Isbn</p>
<p>@Model.SayfaSayisi</p>
<p>@Model.Stok</p>
<p>@Model.Yazar.AdSoyad</p>
<p>@Model.YayinEvi.Ad</p>
<p>@Model.Tur.TurAd</p>


