@model List<DersBlogSitesi.Models.Makale>

<div class="container-fluid">
    <div class="row">
        @foreach (var makale in TempData["kemal"] as List<DersBlogSitesi.Models.Makale>)
        {
            <div class="col-sm-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">@makale.Header </h5>
                        <p class="card-text"> @makale.Content</p>
                        <a href="yeni" class="btn btn-primary">Go somewhere</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

html helper 
taghelper 


@*ViedData kontrolü ile veri taşıma işlemi
<div class="container-fluid">
    <div class="row">
        @foreach (var makale in ViewData["kemal"] as List<DersBlogSitesi.Models.Makale>)
        {
            <div class="col-sm-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">@makale.Header </h5>
                        <p class="card-text"> @makale.Content</p>
                        <a href="yeni" class="btn btn-primary">Go somewhere</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>*@







@*ViewBag ile TAŞIMA*@
@*<div class="container-fluid">
    <div class="row">
        @foreach (var makale in ViewBag.kemal as List<DersBlogSitesi.Models.Makale>)
        {
            <div class="col-sm-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">@makale.Header </h5>
                        <p class="card-text"> @makale.Content</p>
                        <a href="yeni" class="btn btn-primary">Go somewhere</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>*@




@*Model bazlı veri aktırımı örneği*@
@*<div class="container-fluid">
        <div class="row">
            @foreach (var makale in Model)
            {
                <div class="col-sm-6">
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">@makale.Header </h5>
                            <p class="card-text"> @makale.Content</p>
                            <a href="yeni" class="btn btn-primary">Go somewhere</a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>*@













@*<div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum velit vitae ratione praesentium, sint facilis magnam exercitationem porro quo repellendus, neque cum dolorem reiciendis illum maiores commodi. Quidem voluptate ratione distinctio maiores totam unde aliquam itaque veniam optio doloremque repellendus, cumque commodi quis neque veritatis eveniet fugiat repellat consectetur velit quisquam qui tempore? Voluptatem accusamus possimus consequuntur, quaerat cupiditate nesciunt!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae consectetur animi amet doloremque magnam praesentium non est minima adipisci nesciunt, placeat repellendus. Odio omnis ex minus inventore numquam amet obcaecati! Molestias amet quasi ex, quis adipisci quisquam nostrum dignissimos suscipit nam ullam illo beatae vitae ab odit perspiciatis maxime nemo officiis id nobis consectetur accusamus fuga optio dicta voluptatum. Eius.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum nihil ducimus iusto explicabo enim est similique quaerat dolorem consequuntur, neque fugit? Reprehenderit, ea ullam! Facilis doloribus harum recusandae neque voluptatem, vel ipsa molestiae, assumenda cumque, debitis facere alias? Hic enim, ipsa odit, praesentium sapiente assumenda esse odio qui voluptates, consequuntur quod necessitatibus obcaecati quam magni consectetur nemo repellat cupiditate tenetur!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt vero soluta dolor illo maxime qui necessitatibus ut natus voluptates officiis? Expedita corporis a voluptatum at reiciendis ratione modi tenetur sapiente repudiandae laborum, dolorem facere animi velit omnis nesciunt unde vitae aut maxime labore eveniet cupiditate? Debitis, asperiores. Quas molestias error quidem aspernatur consequuntur alias hic cupiditate minima, sit rem deserunt.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum nihil ducimus iusto explicabo enim est similique quaerat dolorem consequuntur, neque fugit? Reprehenderit, ea ullam! Facilis doloribus harum recusandae neque voluptatem, vel ipsa molestiae, assumenda cumque, debitis facere alias? Hic enim, ipsa odit, praesentium sapiente assumenda esse odio qui voluptates, consequuntur quod necessitatibus obcaecati quam magni consectetur nemo repellat cupiditate tenetur!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt vero soluta dolor illo maxime qui necessitatibus ut natus voluptates officiis? Expedita corporis a voluptatum at reiciendis ratione modi tenetur sapiente repudiandae laborum, dolorem facere animi velit omnis nesciunt unde vitae aut maxime labore eveniet cupiditate? Debitis, asperiores. Quas molestias error quidem aspernatur consequuntur alias hic cupiditate minima, sit rem deserunt.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
